.banner-title{
    color:#181818;
    font-size: 85px;
    font-weight: 800px;
}
.header{
    background-color: #FFF8F3;
}
.btn-primary{
    border-radius: 5px;
    background: #e01919;
    border: 0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.banner{
    display: flex;
    padding: 30px 150px 0px 150px;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}
.title{
    margin: 50px 150px;
    padding: 30px 0 20px 0;
    background-color:rgb(226, 229, 232);
}




/* 222222222 */
.p-title{
    text-align: center;
}
.p-paragraph{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
.img-p{
    margin-left: 50px ;
    margin-right:50px ;
}
span > ul {
    display: flex;
}
span li{
    list-style: none;
    margin:0px 150px 0px 100px;
}

.content{
    height: 200px;
    margin: 50px 150px 50px 150px;
    padding-top: 80px;
    background-color: #f0e9ec;
}
.padma{
    margin-left: 220px ;
    margin-right:220px ;
}
.jamuna{
    /* margin-right: 300px; */
    margin-left: 220px;
}
h6{
    margin: 0 20px;
}
h6 > ul {
    display: flex;
}
h6 li{
    list-style: none;
    margin-left:110px ;
    margin-right: 70px;
}
h6 a {
    text-decoration: none;
}

/* banner2 */
.mycontent{
    text-align: center;
    margin-left:260px ;
    font-size:35px ;
    font-weight: 700px;
    color: #181818;
}
.mygreeting{
    margin-left: 350px;
    margin-right: 80px;
    text-align: center;
}
.mybtn-primary{
    margin-left: 500px;
    border-radius: 5px;
    background: deeppink;;
    border: 0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.myprofile-pic{
    margin-right: 250px;
}
.mybanner{
    color:#181818;
    font-size: 35px;
    font-weight: 500px;
}
.comla{
    color:deeppink;
}
.banner2{
    display: flex;
    align-items: center;
    background: #FFF8F3;
    margin:50px 0px 50px 0px;
}

.banner3{
    background: white;
    margin-bottom: 50px;
}
.title3{
    text-align: center;
    color: #181818;
}
.banner-content4{
    padding-right: 50px;
}
.myparagraph{
    margin-left: 510px;
    margin-right: 490px;
    text-align: center;
}
.mydiv{
    margin-left: 150px;
}





.myimage{
    background-image: url('../Flower Asset/Rectangle 9.png');
    height:  300px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px 0 ;
}
.script{
   text-align: center;
    font-size: 35px;
    font-weight: 800px;
}
.caption{
    text-align: center;
}
.contact input[type="text"]{
    margin-left: 350px;
    margin-bottom: 25px ;
    padding: 18px 35px;
    color:#757575;
    border-radius: 5px;
    background: #fff;
    border:0;
    width:30%
}



.header10{
    background-color:rgb(33, 54, 188);
}
.title-p{
   text-align: center;
   color:white
}
.misty{
   color:deeppink;
}
.center{
   text-align: center;
   margin-left: 410px;
   margin-right: 410px;
   color: #d4c5c7
}
.htmlcaption{
   text-align: center;
   color:rgb(175, 202, 164);
}
.misty{
   color: #6d67b6 lue;;
}
.profile{
   background:black;
   height: 200px;
   padding: 50px 0 20px 0;
   margin-top: 50px;
}

